table,
td,
th {
  border: 1px solid black;
}
.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-variant: small-caps;
  color: rgb(209, 69, 13);
}
.Heading {
  color: rgb(10, 135, 173);
}
.top {
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.bottom {
  color: rgb(77, 69, 69);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
